modules = ["nodejs-20", "web", "postgresql-16"]

run = "npm run dev"

[deployment]
deploymentTarget = "autoscale"
build = ""
run = ["npm", "run", "deploy-start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
mode = "replace"
[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
